# Byte-compiled files
__pycache__/
*.py[cod]

# Fichiers de migration
migrations/

# Environnement virtuel
venv/
env/
ENV/
*.env

# Fichiers de log
*.log

# Base de données
*.sqlite3
*.db

# IDE et éditeurs
.vscode/
.idea/
*.swp

# Variables d'environnement locales
.env

# Fichiers de configuration sensibles
config.py

# Répertoires d'installation
*.egg-info/
dist/
build/
